<div class="container">
  <div class="row">
    <div id="main-content" class="col-md-9 col-md-push-3"></div>
    <div class="col-md-3 col-md-pull-9">
      <aside>
        <div class="panel panel-default">
          <div class="panel-body">
            <form id="side-search-form">
              <div class="input-group">
                <input type="text" class="form-control search-text" placeholder="検索ワード">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked><span></span>すべて
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"><span></span>貸出中を除く
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-fw fa-tags"></i>タグ一覧
          </div>
          <div class="panel-body">
            <ul class="list-group category-list">
              <li class="list-group-item">
                <a>プログラム</a>
                <span class="badge">4</span>
              </li>
              <li class="list-group-item">
                <a>JavaScript</a>
                <span class="badge">4</span>
              </li>
              <li class="list-group-item">
                <a>Java</a>
                <span class="badge">0</span>
              </li>
              <li class="list-group-item">
                <a>PHP</a>
                <span class="badge">0</span>
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
