<header id="main-header" class="clearfix">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0)" name="top">トップ</a>
    </li>
    <li class="active">
      {{title}}
    </li>
  </ol>
</header>
<section id="book-detail"></section>
<h3 class="design-header">関連する書籍</h3>
<section id="book-list"></section>
