<header id="main-header" class="clearfix">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
        <li class="active">トップ
        </li>
      </ol>
    </div>
    <div class="col-sm-6 col-xs-12">
      <form id="view-option-form" class="form-inline text-right">
        <button class="btn btn-default" type="button" name="large"><i class="fa fa-fw fa-th-large"></i>
        </button>
        <button class="btn btn-default" type="button" name="tile"><i class="fa fa-fw fa-th-list"></i>
        </button>
        <button class="btn btn-default" type="button" name="list"><i class="fa fa-fw fa-list"></i>
        </button>
      </form>
    </div>
  </div>
</header>
<section id="book-list"></section>
